<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title> BioCultivando </title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rockwell">
<link rel="stylesheet" href="estilos/estilossb.css">
<link rel="icon" type="imagem/png" href="imagens/favicon.ico"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<div class="body">
	<body>
		
		<div class="titulo">
		<img src="imagens/nome.png"/>
		<p> <span> As plantas são essenciais para a vida, mudam a forma das pessoas verem o mundo. </span>
			<span> E, além disso, influenciam o humor e fazem a diferença na saúde. </span>
			<span> Quer saber mais? Dá uma olhada aqui! </span> </p>
		</div>

	<div class="opcoes">  

		<div class="card">
			<div class="botao">
				<a href="orna/orna.html"><img src="imagens/suculenta.png" title="Plantas Ornamentais (suculentas)"/></a>
				<p class="titulo"> Suculentas </p>
			</div>
		</div>


		<div class="card">
			<div class="botao">
				<a href="fito/fito.html"><img src="imagens/morango.png" title ="Plantas Fitoterápicas"/></a>
				<p class="titulo"> Fitoterápicas </p>
			</div>
		</div>	
	</div>

      <ul>
      	<li> <a id="sug" href="sugestao/sugest.html">Tem uma sugestão? Manda pra gente!</a> </li>
      </ul>

		<div class="w3-container" id="foot">
			<div class="dev">
				<div class="fras">
					<p>IFRN - Campus Nova Cruz.<p>
				</div>

				<div class="fras">
					<p>—<p>
				</div>

				<div class="fras">
  					<p> Desenvolvedores: Liliane Rodrigues e Natan Luis. </p>
  				</div>

				<div class="fras">
					<p>—<p>
				</div>

  				<div class="fras">
  					<p> Orientadores: Eduardo Herinque e Danielly Alves.</p>
  				</div>
  			</div>
		</div>
	</body>
</div>
</html>